<h1>Instructor Login</h1>
<%= form_with url: login_path do |f| %>
    <%= f.label :Username %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :Password %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit 'Log In' %>
<% end %>