<h1>Program#new</h1>
<p>Find me in app/views/program/new.html.erb</p>

<h3>Form With</h3>

<%= form_with model: @course do |f| %>

    <%=  f.label "language" %>
    <%=  f.text_field :language %>
    
    <br>

    <%=  f.label "level" %>
    <%=  f.text_field :level %>

    <br>

    <%=  f.label "location" %>
    <%=  f.text_field :location %>

    <br>

    <%= f.submit %>


<% end%>