<h3>Polyglot Instructors</h3>



<% @instructors.each do |instructor| %>
    <p>
    <%= instructor.id %>-
    <%= link_to "#{instructor.to_s}", instructor_path(instructor) %>
   
    <% instructor.courses.each do |course| %>
        <li> <%= course.language %> - <%= course.level %></li>
        <% end %>
   
    </p>

    <% end %>

    <br>
    <%= link_to "Log out", '/logout', method: 'destroy' %>


