<h1>Instructor Signup</h1>

<div class="d-flex justify-content-center">




<%= form_with model: @instructor do |f| %>
    <%= f.label "First Name" %>
    <%= f.text_field :first_name %>
    <br>
    <%= f.label "Last Name" %>
    <%= f.text_field :last_name %>
    <br>
    <%= f.label "Email" %>
    <%= f.text_field :email %>
    <br>
    <%= f.label "Username" %>
    <%= f.text_field :username %>
    <br>
    <%= f.label "password" %>
    <%= f.password_field :password%>
    <br>
    
    <%= f.submit %>
<% end %> 
