

<h2><%= "Hello,"%><h2> 
<h2><%= "Hello"%> <%= @instructor.to_s%><%= ","%></h2>

<h4>This is your Instructor Profile (instructor#show)</h4>


<%= link_to "Complete your profile", edit_instructor_path(@instructor) %>



