

<h2><%= "Hello,"%><h2> 
<h2><%= "Hello"%> <%= @instructor.to_s%><%= ","%></h2>

<h4>This is your Instructor Profile (instructor#show)</h4>

<%= @instructor.first_name %>
<%= @instructor.last_name %>
<%= @instructor.date_of_birth %>
<%= @instructor.email %>
<%= @instructor.phone_number %>
<%= @instructor.nationality %>
<%= @instructor.ethnicity %>
<%= @instructor.native_language %>
<%= @instructor.other_languages %>
<%= @instructor.instructional_languages %>
<%= @instructor.education %>
<%= @instructor.teaching_experience %>
<%= @instructor.bio %>



<br>

<%= link_to "Complete your profile", edit_instructor_path(@instructor) %>



