

<h2><%= "Hello,"%><h2> 
<h2><%= "Hello"%> <%= @instructor.to_s%><%= ","%></h2>

<h4>This is your Instructor Profile (instructor#show)</h4>

<%= @instructor.first_name %>
<br>
<%= @instructor.last_name %>
<br>
<%= @instructor.date_of_birth %>
<br>
<%= @instructor.email %>
<br>
<%= @instructor.phone_number %>
<br>
<%= @instructor.nationality %>
<br>
<%= @instructor.ethnicity %>
<br>
<%= @instructor.native_language %>
<br>
<%= @instructor.other_languages %>
<br>
<%= @instructor.instructional_languages %>
<br>
<%= @instructor.education %>
<br>
<%= @instructor.teaching_experience %>
<br>
<%= @instructor.bio %>
<br>



<br>

<%= link_to "Complete your profile", edit_instructor_path(@instructor) %>



