<h1>Courses#index</h1>
<p>Find me in app/views/courses/index.html.erb</p>

<% if @instructor && @instructor.courses.empty? %>        
    <h2><%= "Hi" %> <%= @instructor.first_name %> <%= @instructor.last_name %> <%= "!" %><h2> 
    <h2><%= "You do not have any courses just yet." %> </h2> 
    <br>
    <%= link_to "Add a course", new_instructor_course_path(@instructor) %>
    <br>
    <%= link_to "Back to your profile", instructor_path(@instructor) %>
    <br>

<% elsif @instructor && @instructor.courses %>
  <p> <%= "This is a list of your courses." %> </p>
      <% @courses.each do |c| %>
         Language: <%= c.language %> <br>
         Level: <%= c.level %> <br>
         Age Group: <%= c.age_group %> <br>
         Class Size: <%= c.class_size %> <br>
         Location: <%= c.location %> <br>
         Day: <%= c.day %> <br>
         Start Time: <%= c.start_time %> <br>
         End Time: <%= c.end_time %> <br> 
         <br> 
         <%= link_to "Edit this course", edit_instructor_course_path(@instructor, c)%>
         <br>
         
      <% end %>

     
      <%= link_to "Your profile", instructor_path(@instructor) %>
      <br>
      <%= link_to "Add a course", new_instructor_course_path(@instructor) %>
      <br>

<% else  %>
   <p> <%= "This is a list of all courses." %> </p>
      <% @courses.each do |c| %>
         Language: <%= c.language %> <br>
         Level: <%= c.level %> <br>
         Age Group: <%= c.age_group %> <br>
         Class Size: <%= c.class_size %> <br>
         Location: <%= c.location %> <br>
         Day: <%= c.day %> <br>
         Start Time: <%= c.start_time %> <br>
         End Time: <%= c.end_time %> <br>
         <br>
      <% end %>

<% end %>

<%= link_to "All Polyglot Instructors", instructors_path %>
<br>
<br>
<%= link_to "Log out", '/logout', method: 'destroy' %>
