<h1>Courses#index</h1>
<p>Find me in app/views/courses/index.html.erb</p>

<% if @instructor && @instructor.courses.empty? %>        
    <p><%= "This is a list of" %> <%= @instructor.first_name %> <%= @instructor.last_name%><%="'s courses." %></p> 
    <h2><%= "There are no courses just yet." %> </h2> <br>
    <%= link_to "Add a course", new_instructor_course_path(@instructor) %><br>
    <%= link_to "#{@instructor.first_name} #{@instructor.last_name}'s profile", instructor_path(@instructor) %><br>

    <% elsif @instructor && @instructor.courses %>
   <p><%= "This is a list of" %> <%= @instructor.first_name %> <%= @instructor.last_name%><%="'s courses." %></p> 
   <%= render partial: "course_attributes" %> 
   <%= link_to "Your profile", instructor_path(@instructor) %><br>
   <%= link_to "Add a course", new_instructor_course_path(@instructor) %><br>

   <% else  %>
   <p> <%= "This is a list of all Polyglot courses." %> </p>
   <%= render partial: "course_attributes" %>

<% end %>

<%= link_to "All Polyglot Instructors", instructors_path %><br>
<%= link_to "Log out", '/logout', method: 'destroy' %>
