<h1>Courses#index</h1>
<p>Find me in app/views/courses/index.html.erb</p>

<h2><%= "Hi" %> <%= @instructor.first_name %> <h2> 
<br>
<% if @courses.empty? %>
   <h2><%= "You do not have any courses just yet." %> </h2>       
    
    <%= link_to "Your profile", instructor_path(@instructor) %>

    <%= link_to "Add a course", program_index_path %>
   
<% else  %>
  <%= link_to "Here are your courses", instructor_course_path(@instructor) %> 
   
<% end %>
<br>
<br>
