<h1>Courses#show</h1>
<p>Find me in app/views/courses/show.html.erb</p>

<%= @course.language %>
<%= @course.level %>
<%= @course.age_group %>
<%= @course.class_size %>
<%= @course.location %>
<%= @course.day %>
<%= @course.time %>


<%= link_to 'Delete', course_path(@course), method: "delete" %>
<%= button_to "Delete", course_path(@course), method: 'delete' %>